commands:
  01-install-nodejs-npm:
    command: "yum install -y --enablerepo=epel nodejs npm"

container_commands:
  01-npm-install:
    env:
      HOME: "/root"
      PATH: "/usr/bin:/usr/lib/node_modules:/sbin:/bin:/usr/sbin:/opt/aws/bin"
    command: "npm install"
    leader_only: true
  02-compilecss-minifyjs:
    command: "npm run gulp"
    leader_only: true