.rollers {
    order: -1;
    grid-row-end: span 2;
    background-color: #ddd;
}

body {
    font-family: 'verdana', sans-serif;
}

.editable {
	cursor: pointer;
	text-decoration: underline;
}

#main {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto 1fr;
	grid-gap: 10px;
}

#deck {
	margin-bottom: 30px;
}

.roller {
    font-size: 24px;
    padding: 10px;
    width: 100%;
}

.total {
    font-weight: bold;
    display:inline-block;
    width: 3em;
}

.math {
    font-size: smaller;
}
.math:before, #rolls .label:before {
    content: " (";
}
.math:after, #rolls .label:after {
    content: ") ";
}

.die {
    display:inline-block;
    width: 1.2em;
    height: 1.2em;
    background-color: white;
    border: thin solid black;
    text-align: center;
    vertical-align: bottom;
}


.bonus {
    color: #080;
}

.penalty {
    color: #800;
}

#rolls {
    background-color: #eee;
    overflow: auto;
    list-style: none;
    padding-left: 0;
    
}

#rolls .label {
    font-size: smaller;
}

.status {
    font-family: "Impact", "Verdana", sans-serif;
    height: 300px;
    order: 5;
}

.status .plus {
	background-image: url(../ui-Theme/plus-lt.gif);
}

.status .minus {
	background-image: url(../ui-Theme/minus-lt.gif);
}

.status .header {
    font-style: normal;
    font-size: 14px;
    text-align: center;
}

.status .inner {
    display:grid;
    grid-column-gap: 2px;
    grid-template-columns: 5fr 5fr 4fr 5fr 3fr 4fr 5fr 2fr 3fr 4fr 5fr 1fr 2fr 3fr 4fr 5fr;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

.status .inner div.col {
    background-color: rgba(255, 255, 255, 0.75);
    transform: skewX(-10deg);
    display: grid;
    grid-template-rows: 20px auto 34px;
    overflow: hidden;
}

.status .inner div.col.shaded {
    background-color: rgba(64, 0, 0, 0.75)
}

.status .inner div.col div {
    min-height: 10px;
}

.status .inner div.col div.label {
    font-size: 10px;
    color: #f00;
    min-height: 1em;
}

.status .inner div.col div.number {
    color: #d1c59d;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    /*vertical-align: sub;*/
    text-align: right;
}

.status .inner div.col.shaded div.number {
    color: #eee2ba;
}

.close, .add {
    cursor: pointer;
}

.status .close {
    position: absolute;
    right: -12px;
    top: -12px;
}

.status .tagwrap {
    display: grid;
    grid-template-columns: auto 1fr;
    line-height: 48px;
    height: 48px;
    margin-top: 10px;
}

.status .taglabel {
    font-size: 48px;
}

.status .tag {
    font-size: 40px;
    padding-left: 10px;
    background-color: white;
}

.status .help {
    font-family: "Verdana", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.newstatus {
    max-height: 2em;
    max-width: 100px;
    order: 10;
}

.unlock {
    max-height: 2em;
    max-width: 150px;
    order: 20;
}

.name {
    grid-column-end: span 4;
    font-size: 48px;
    font-weight: bold;
}

#player {
    display: none;
}

.tabswitcher {
	margin-bottom: 10px;
}

.tabswitcher .tab {
	padding: 10px;
	border: 1px solid black;
	display: inline-block;
	cursor: pointer;
	
}

.tabswitcher .tab.active {
	background-color: white;
}

.tabswitcher .tab.inactive {
	background-color: lightgrey;
}

#moves section {
	display: grid;
	grid-gap: 10px;
	justify-content: space-evenly;
	grid-template-columns: repeat(auto-fill, 550px);
	align-items: start;
}

#moves .move {
	background-color: #7c5dd1;
	border-radius: 10px;
	padding-bottom: 10px;
	position:relative;
}

#moves .move h2 {
	background-color: #4319b7;
	color: white;
	margin: 10px;
	margin-bottom: 0;
	padding: 10px;
	border-radius: 5px 5px 0 0;
	position: relative;
}

#moves .move .body {
	background-color: #cebcff;
	margin: 0 10px;
	padding: 0 10px;
	overflow: auto;
	border-radius: 0 0 5px 5px;
}

#moves .move .body ul {
    margin-bottom: 10px;
}

#moves .move .actions {
	transform: rotate(-90deg);
	position: absolute;
	font-size: 10px;
	font-weight: bold;
	left: 0;
	bottom: 24px;
	display: inline-block;
	color: white;
}
#moves .move .examples {
	margin: 0;
	padding: 10px 10px 0 40px;
	font-size: 10px;
	font-weight:bold;
	text-transform: uppercase;
	color: white;
	min-height: 4em;
}

#moves .move .examples li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}



#map {
	width: 100%;
	max-height: 100%;
	background-color: #ccc;
	text-align: center;
}

#map img {
	max-width: 100%;
	max-height: 100%;
}