.rollers {
    order: -1;
    grid-row-end: span 2;
    background-color: #ddd;
}

body {
    font-family: 'verdana', sans-serif;
}

.editable {
	cursor: pointer;
	text-decoration: underline;
}

#main {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto 1fr;
	grid-gap: 10px;
}

#main > button {
	order: 10;
	
}

#deck {
	margin-bottom: 30px;
}

.close, .add {
    cursor: pointer;
}

.newstatus {
    max-height: 2em;
    max-width: 200px;
    order: 10;
}

.unlock {
    max-height: 2em;
    max-width: 150px;
    order: 20;
}

.name {
    grid-column-end: span 4;
    font-size: 48px;
    font-weight: bold;
}

#player {
    display: none;
}

.tabswitcher {
	margin-bottom: 10px;
}

.tabswitcher .tab {
	padding: 10px;
	border: 1px solid black;
	display: inline-block;
	cursor: pointer;
	
}

.tabswitcher .tab.active {
	background-color: white;
}

.tabswitcher .tab.inactive {
	background-color: lightgrey;
}

#moves section {
	display: grid;
	grid-gap: 10px;
	justify-content: space-evenly;
	grid-template-columns: repeat(auto-fill, 550px);
	align-items: start;
}

#moves .move {
	background-color: #7c5dd1;
	border-radius: 10px;
	padding-bottom: 10px;
	position:relative;
}

#moves .move h2 {
	background-color: #4319b7;
	color: white;
	margin: 10px;
	margin-bottom: 0;
	padding: 10px;
	border-radius: 5px 5px 0 0;
	position: relative;
}

#moves .move .body {
	background-color: #cebcff;
	margin: 0 10px;
	padding: 0 10px;
	overflow: auto;
	border-radius: 0 0 5px 5px;
}

#moves .move .body ul {
    margin-bottom: 10px;
}

#moves .move .actions {
	transform: rotate(-90deg);
	position: absolute;
	font-size: 10px;
	font-weight: bold;
	left: 0;
	bottom: 24px;
	display: inline-block;
	color: white;
}
#moves .move .examples {
	margin: 0;
	padding: 10px 10px 0 40px;
	font-size: 10px;
	font-weight:bold;
	text-transform: uppercase;
	color: white;
	min-height: 4em;
}

#moves .move .examples li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}



#map {
	width: 100%;
	max-height: 100%;
	background-color: #ccc;
	text-align: center;
}

#map img {
	max-width: 100%;
	max-height: 100%;
}