.rollers {
    order: -1;
    grid-row-end: span 2;
    background-color: #ddd;
}

body {
    font-family: 'verdana', sans-serif;
}

#main {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto 1fr;
	grid-gap: 10px;
}

#deck {
	margin-bottom: 30px;
}

.theme .add, .theme .close {
    display: none;
}

body.unlocked .theme .add, body.unlocked .theme .close {
    display:inline;
}

.theme {
    order: 2;
    grid-column-end: span 1;
}

.theme > .close {
    position: absolute;
    bottom: 13px;
    right: 13px;
}

.theme, .status {
	border-radius: 15px;
	padding: 10px;
	display: grid;
	position: relative;
	grid-template-rows: 30px 1fr minmax(70px, auto);
	
}
.theme .icon {
	position: absolute;
	right: 10px;
	top: 15px;
	width: 50px;
	height: 50px;
	font-size: 33px;
	text-align: center;
	border-radius: 0 0 0 15px;
}
.theme .inner {
	padding: 5px 20px 5px 20px;
}

.theme .book, .status .header {
	
	border-radius: 5px 5px 0 0;
	padding: 7px 7px 7px 20px;
	font-family: 'verdana', sans-serif;
	font-size: 12px;
	font-style: italic;
}

.theme .name {
	font-size: 30px;
	font-weight: bold;
	font-family: 'verdana', sans-serif;
	text-align: center;
	margin-bottom: 20px;
}

.theme .attention, .theme .fade {
	display: inline-block;
	margin-right: 20px;
}

.theme .attention .label:after {
	content: "Attention";
}

.mythos.theme .fade .label:after {
	content: "Fade";
}

.logos.theme .fade .label:after {
	content: "Crack";
}

.theme .attention .mark, .theme .fade .mark {
	display: inline-block;
	
}

.theme .attention .mark input, .theme .fade .mark input {
	display: inline-block;
	width: 20px;
	height: 20px;
	
}

.theme .mystery_head {
	font-weight: bold;
	margin-top: 20px;
}

.theme .mystery {
	font-family: cursive;
	font-size: 24px;
	margin-bottom: 10px;
}

.theme .description {
	font-family: serif;
	margin-bottom: 20px;
}

.theme .powertags_head {
	font-size: 18px;
	font-weight: bold;
}

.theme .powertags_head .add, .theme .weakness_head .add {
    margin-left: 10px;
}

.theme .powertags {
	list-style: none;
	padding: 0;
}

.theme.mythos .plus {
	background-image: url(images/plus.gif);
}

.theme.logos .plus {
	background-image: url(images/plus-lt.gif);
}

.theme.mythos .minus {
	background-image: url(images/minus.gif);
}

.theme.logos .minus {
	background-image: url(images/minus-lt.gif);
}

.theme .powertags li i, .theme .weaknesses li i {
    margin-right: 4px;
}

.theme .powertags li input {
	float: right;
}

.theme .weakness_head {
	margin: 0;
	font-weight: bold;
	font-size: 18px;
}

.theme .weaknesses {
	padding: 0;
	list-style: none;
	margin: 0;
}



.theme .footer {
	border-radius: 0 0 5px 5px;
	padding: 7px 20px 7px 20px;
}

.theme.mythos {
	background-color: #ae9b99;
	color: white;
}

.theme.mythos .inner {
	background-color: #886f8f;
}

.theme.mythos .book, .theme.mythos .footer, .theme.mythos .icon {
	background-color: #3c2134;
}

.theme.mythos .name, .theme.mythos .icon {
	text-shadow:
	   -1px -1px 0 rgba(255,0,255,0.5),
		1px -1px 0 rgba(255,0,255,0.5),
		-1px 1px 0 rgba(255,0,255,0.5),
		 1px 1px 0 rgba(255,0,255,0.5),
	   -3px -3px 0 rgba(255,0,255,0.1),
		3px -3px 0 rgba(255,0,255,0.1),
		-3px 3px 0 rgba(255,0,255,0.1),
		 3px 3px 0 rgba(255,0,255,0.1);
}

.theme.logos, .status {
	background-color: #eee2ba;
	color: #564335;
}


.theme.logos .inner {
	background-color: #ddd0ba;
}

.theme.logos .book, .theme.logos .footer, .theme.logos .icon, .status .header {
	background-color: #a8562d;
	color: white;
}

.roller {
    font-size: 24px;
    padding: 10px;
    width: 100%;
}

.total {
    font-weight: bold;
    display:inline-block;
    width: 3em;
}

.math {
    font-size: smaller;
}
.math:before, #rolls .label:before {
    content: " (";
}
.math:after, #rolls .label:after {
    content: ") ";
}

.die {
    display:inline-block;
    width: 1.2em;
    height: 1.2em;
    background-color: white;
    border: thin solid black;
    text-align: center;
    vertical-align: bottom;
}


.bonus {
    color: #080;
}

.penalty {
    color: #800;
}

#rolls {
    background-color: #eee;
    overflow: auto;
    list-style: none;
    padding-left: 0;
    
}

#rolls .label {
    font-size: smaller;
}

.status {
    font-family: "Impact", "Verdana", sans-serif;
    height: 300px;
    order: 5;
}

.status .plus {
	background-image: url(images/plus-lt.gif);
}

.status .minus {
	background-image: url(images/minus-lt.gif);
}

.status .header {
    font-style: normal;
    font-size: 14px;
    text-align: center;
}

.status .inner {
    display:grid;
    grid-column-gap: 2px;
    grid-template-columns: 5fr 5fr 4fr 5fr 3fr 4fr 5fr 2fr 3fr 4fr 5fr 1fr 2fr 3fr 4fr 5fr;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

.status .inner div.col {
    background-color: rgba(255, 255, 255, 0.75);
    transform: skewX(-10deg);
    display: grid;
    grid-template-rows: 20px auto 34px;
    overflow: hidden;
}

.status .inner div.col.shaded {
    background-color: rgba(64, 0, 0, 0.75)
}

.status .inner div.col div {
    min-height: 10px;
}

.status .inner div.col div.label {
    font-size: 10px;
    color: #f00;
    min-height: 1em;
}

.status .inner div.col div.number {
    color: #d1c59d;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    /*vertical-align: sub;*/
    text-align: right;
}

.status .inner div.col.shaded div.number {
    color: #eee2ba;
}

.close, .add {
    cursor: pointer;
}

.status .close {
    position: absolute;
    right: -12px;
    top: -12px;
}

.status .tagwrap {
    display: grid;
    grid-template-columns: auto 1fr;
    line-height: 48px;
    height: 48px;
    margin-top: 10px;
}

.status .taglabel {
    font-size: 48px;
}

.status .tag {
    font-size: 40px;
    padding-left: 10px;
    background-color: white;
}

.status .help {
    font-family: "Verdana", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.newstatus {
    max-height: 2em;
    max-width: 100px;
    order: 10;
}

.unlock {
    max-height: 2em;
    max-width: 150px;
    order: 20;
}

.name {
    grid-column-end: span 4;
    font-size: 48px;
    font-weight: bold;
}

.burned {
    text-decoration: line-through;
}

#player {
    display: none;
}

.tabswitcher {
	margin-bottom: 10px;
}

.tabswitcher .tab {
	padding: 10px;
	border: 1px solid black;
	display: inline-block;
	cursor: pointer;
	
}

.tabswitcher .tab.active {
	background-color: white;
}

.tabswitcher .tab.inactive {
	background-color: lightgrey;
}

#moves section {
	display: grid;
	grid-gap: 10px;
	justify-content: space-evenly;
	grid-template-columns: repeat(auto-fill, 550px);
	align-items: start;
}

#moves .move {
	background-color: #7c5dd1;
	border-radius: 10px;
	padding-bottom: 10px;
	position:relative;
}

#moves .move h2 {
	background-color: #4319b7;
	color: white;
	margin: 10px;
	margin-bottom: 0;
	padding: 10px;
	border-radius: 5px 5px 0 0;
	position: relative;
}

#moves .move .body {
	background-color: #cebcff;
	margin: 0 10px;
	padding: 0 10px;
	overflow: auto;
	border-radius: 0 0 5px 5px;
}

#moves .move .body ul {
    margin-bottom: 10px;
}

#moves .move .actions {
	transform: rotate(-90deg);
	position: absolute;
	font-size: 10px;
	font-weight: bold;
	left: 0;
	bottom: 24px;
	display: inline-block;
	color: white;
}
#moves .move .examples {
	margin: 0;
	padding: 10px 10px 0 40px;
	font-size: 10px;
	font-weight:bold;
	text-transform: uppercase;
	color: white;
	min-height: 4em;
}

#moves .move .examples li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}



#map {
	width: 100%;
	max-height: 100%;
	background-color: #ccc;
	text-align: center;
}

#map img {
	max-width: 100%;
	max-height: 100%;
}